html, body { 
  height: 100% 
}

h1 {
  text-align: center;
}

.houseInfoForm {
  width: 70%; 
}

.homePage {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  row-gap: 1rem;
}