html, body { 
  height: 100% 
}

body {
  background-image: url("../components/map.jpeg");
  color: rgb(46, 51, 117)!important;
}

h1, h3{
  text-align: center;
}

.cityPicker {
    margin-bottom: 4rem;
}

.houseInfoForm {
  background-color: white;
  border: solid 1px white;
  border-radius: 5px;
  padding: 2rem 2rem;
}

.homePage {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  row-gap: 1rem;
}

.homepagetitle {
  background-color: rgb(218, 218, 218);
  padding: 1rem;
  color: rgb(46, 51, 117)!important;
  box-shadow: 6px 6px rgb(156, 156, 156);
  border-radius: 5px;
}

.navybar {
  font-size:x-large;
  background: rgb(184, 207, 226)!important;
}

.navybar .nav-link {
  color: rgb(46, 51, 117)!important;
}