html, body { 
  height: 100%;
  font-family: "Times New Roman", "Times", "serif";
}

body {
  /*background-image: url("./components/map.jpeg");*/
  color: rgb(46, 51, 117)!important;
}

h1, h3 {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.houseInfoForm {
  background-color: white;
  border: solid 1px white;
  border-radius: 5px;
  padding: 2rem 2rem;
  width: 40%;
  font-size: 1.2rem;
}


.navybar {
  font-size:x-large;
  background: rgb(184, 207, 226)!important;
}

.navybar .nav-link {
  color: rgb(46, 51, 117)!important;
}